[submodule "submodules/riscv-arch-test"]
	path = submodules/riscv-arch-test
	url = git@github.com:jeras/riscv-arch-test.git
[submodule "submodules/learn-fpga"]
	path = submodules/learn-fpga
	url = git@github.com:jeras/learn-fpga.git
[submodule "submodules/tcb"]
	path = submodules/tcb
	url = git@github.com:jeras/TCB.git
[submodule "submodules/gdb_server_stub_sv"]
	path = submodules/hdldb
	url = git@github.com:jeras/gdb_server_stub_sv.git
